.container {
    max-width: $full-width - 20%;
    margin: 0 auto;
    @include margin-top(100px);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
}

.choice-item {
    @include bg-color(aliceblue);
    text-align: center;
}

.my-img {
    position: relative;
    --aspect-raito: 3/2;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-raito)));
    .price {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 22px;
        top: -50px;
        left: 100px;
        padding-top: 35px;
        font-weight: lighter;
    }
    & .price-bg1,
    .price-bg3 {
        @include bg-color(white);
    }
    & .price-bg2 {
        @include bg-color(rgba(44, 46, 61, 255));
    }
    .per-tour {
        font-size: 12px;
        margin-top: 5px;
        @include text-color(rgba(95, 114, 127, 255));
    }
    .price-color1 {
        @include text-color(rgba(33, 150, 247, 255));
    }
    .price-color2 {
        @include text-color(rgba(215, 68, 152, 255));
    }
    .price-color3 {
        @include text-color(rgba(50, 173, 30, 255));
    }
}

.new {
    background-image: url(/img/newmark.png);
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: calc(100% / (var(--aspect-raito)));
    top: -50px;
    left: -110px;
    @include text-color(white);
    font-size: $font-size-nor - 2;
    padding-top: 26px;
    padding-right: 30px;
}

.title {
    position: relative;
    top: -120px;
    @include text-color(white);
    font-size: $font-size-nor + 12;
    &-small {
        font-size: 12px;
        margin-top: 10px;
        @include text-color(rgba(200, 200, 200, 255));
    }
}

.subtitle {
    padding-bottom: 10px;
    @include bg-color(aliceblue);
    @include text-color(rgba(95, 114, 127, 255));
    :first-child {
        font-size: $font-size-nor + 4;
    }
    :last-child {
        font-size: $font-size-nor - 4;
        @include margin-top(15px);
    }
}

.subtitle-2 {
    margin-top: -22px;
}

ul {
    li {
        margin: 20px;
        @include text-color(rgba(105, 123, 135, 255));
    }
    & :nth-child(odd) {
        @include bg-color(rgba(230, 246, 247, 255));
        height: 40px;
        padding-top: 3%;
    }
}

.btn {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    margin: 12px;
    max-width: 150px;
    width: $full-width - 50%;
    font-size: $font-size-nor;
    font-weight: lighter;
    cursor: pointer;
    &:hover {
        @include text-color(white);
    }
}

.btn-1 {
    @include text-color(rgba(33, 150, 247, 255));
    border-color: rgba(33, 150, 247, 255);
    &:hover {
        @include bg-color(rgba(33, 150, 247, 255));
    }
}

.btn-2 {
    @include text-color(rgba(215, 68, 152, 255));
    border-color: rgba(215, 68, 152, 255);
    &:hover {
        @include bg-color(rgba(215, 68, 152, 255));
    }
}

.btn-3 {
    @include text-color(rgba(50, 173, 30, 255));
    border-color: rgba(50, 173, 30, 255);
    &:hover {
        @include bg-color(rgba(50, 173, 30, 255));
    }
}
